@model Product

<div class="row col-md-12 text-center">
  <h6 class="display-6">
    @Model.Product_Name
  </h6>
  <img src="@Model?.Product_ImageUrl" alt="@Model?.Product_Name" width="50" />
  <p class="lead">@Model.Product_Price.ToString("c")</p>
</div>



<div class="btn-group">
  <a class="btn btn-outline-primary" asp-controller="Home" asp-action="Index">
    <i class="fa-solid fa-house"></i> Home</a>
  <a class="btn btn-outline-primary" asp-controller="Product" asp-action="Index">Go Back</a>
</div>

@section Header {

  <div> Header Index Layout</div>
}