@page "/Contact"

<div class="text-center">
    <div class="display-6">Contact</div>
    <div class="lead">
        <i class="fa fa-phone"></i>
        <p>Store Destek Hattı</p>
    </div>
    <div class="lead">
        <i class="fa fa-home"></i>
        <p>Store Adres</p>
    </div>
    <div class="lead">
        <i class="fa-solid fa-envelope"></i>
        <p>Store Mail</p>
    </div>
</div>
<h1>Contact</h1>